<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Kirish</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
        <label for="name">Username: </label>
        <input type="text" name="username" placeholder="Username"><br><br>

        <label for="name">Password: </label>
        <input type="password" name="password" placeholder="Password"><br><br>

        <button type="submit">Kirish</button>
    </form>
    <br><br>
    <a class="register" href="{{ url_for('register') }}">Register</a>
</body>
</html>