<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site - Posts</title>
</head>
<body>

    <h1>All Tasks</h1>
    <form method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <br><br>
        <button type="submit">Add</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li><a href="#">{{ task.1 }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
